<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>csv file upload</title>
</head>
<body>
    <form class="form" action="/players/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <input type="submit" name="submit" id="submit" value="Submit">
    </form>

    <div>

    </div>
</body>
</html>